body {
  background-color: black;
  min-height: 100%;
}

.article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 100vh;
}

.card {
  color: white;
  padding: 1rem;
  background-color: green;
  width: 42%;
  margin: 2rem 0;
}
